%html
  %head
    %title Сервис онлайн-маркетинга
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "/css/style.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
  %body
    #wrapper
      = yield
