.title= @subscriber.email
.content
  - unless @subscriber.unsubscribed?
    %form#unsubscribe{:action => "/unsubscribe/#{@subscriber.h}", :method => "post", :name => "unsubscribe"}
      .margin_top_10
        %input{:name => "utype", :type => "radio", :checked => "checked"}
        %label{:for => "utype"} Отписаться от email рассылки
      .margin_top_10
        %label{:for => "message"} Сообщите, почему Вы отписываетесь?
        %br
        %textarea{:name => "message", :rows => "6", :cols => "50"}
      .margin_top_10
        %input{:name => "submit", :type => "submit", :value => "Выполнить"}
  - else
    .unsubscribed Вы успешно отписались от этой email рыссылки
    %form#unsubscribe{:action => "/unsubscribe/#{@subscriber.h}", :method => "post", :name => "unsubscribe"}
      .margin_top_10
        %input{:name => "utype", :type => "radio", :checked => "checked"}
        %label{:for => "utype"} Снова подписаться на email рассылку
      .margin_top_10
        %input{:name => "submit", :type => "submit", :value => "Выполнить"}

