#wrapper {
  margin-top: 60px;
  width: 500px ;
  margin-left: auto ;
  margin-right: auto ;
  background-color: white;
  border: 1px solid  #93afbb;
}  

.title {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  color: #475F72;
  margin: 0px;
  background-color: #d8e5eb; 
  border-bottom: 1px solid  #93afbb;
  padding: 5px;
}  

.content {
  padding: 15px;
  background-color: #E6F4FA;
}  

.margin_top_10 {
  margin-top: 10px;
}  

.unsubscribed {
  color: #E05467;
  font-weight: bold;
}  
